.cart-container{
    width: 70vw;
    margin: 3rem auto;
}

.cart-item-container {
    margin: 4rem auto;
}

.cart-title {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #30c496;
}
