.cart-item {
    min-height: 80px;
    font-size: 1.2rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 150px 65% 20%;

    position: relative;
    text-align: center;
    align-items: center;
}

.cart-shoe-img {
    height: 80px;
    min-width: 150px;
}

.cart-item-info {
    padding: 2px;
    display: grid;
    grid-template-columns: 50% 20% 30%;
    align-content: center;
}

.quantity-modifier {
    margin-left: 10px;
    height: 60px;
    border-radius: 8px;
    cursor: pointer;
}