.detailed-shoe-container {
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 8rem 0;
    position: relative;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 50vw;
}

.big-shoe-img {
    width: 33rem;
    height: 18rem;
    background-color: white;
}

.info-container {
    margin-top: 1rem;
    position: absolute;
    right: 0;
    width: 50vw;
    margin-bottom: 2rem;
}

.shoe-info {
    font-size: 1.6rem;
    margin-bottom: 1rem;

    text-decoration: underline;
    text-decoration-color: #30c496;
}

.detailed-shoe-info {
    width: 40%;
}

@media (max-width: 1100px) {
    .big-shoe-img {
        width: 22rem;
        height: 12rem;
    }

    .shoe-info {
        font-size: 1.3rem;
    }

    .detailed-shoe-info {
        font-size: 0.8rem;
    }
}

@media (max-width: 700px) {
    .big-shoe-img {
        width: 16rem;
        height: 9rem;
    }

    .shoe-info {
        font-size: 1rem;
    }

    .detailed-shoe-container {
        flex-direction: column;
        align-items: center;
    }

    .info-container, .image-container {
        position: relative;
        text-align: center;
        width: 80vw;
    }

    .detailed-shoe-info {
        width: 100%;
        padding: 0 1rem 0 1rem;
    }
}