.middle-section {
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
}

.filter-container {
    justify-content: center;
    margin: 8rem 3rem;
    min-width: 14rem;
}

.card-container {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.filter-info {
    margin: 1rem auto;
    font-style: oblique;
    width: 80%;
    font-size: 1.4rem;
    color: black;
}

.colored {
    color: #30c496;
    font-size: 1.4rem;
}

.filter-option-btn {
    background-color: #a2a2f3;
    margin: 0;
    font-style: oblique;
    font-size: 1.4rem;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: none;

    width: 14rem;
    position: sticky;
    left: calc(50% - 7rem);
}


.filter-modal {
    background-color: cyan;
    color: #ffffff;
    min-width: 13rem;
    padding: 0;
    display: flex;
    justify-content: center;
}

.modal-filter-container{
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    padding: 0 4px 4rem 4px;
}

@media (max-width: 1100px) {
    .filter-container {
        display: none;
    }

    .filter-option-btn {
        display: block;
    }

}