.footer {
    margin-top: auto;
    width: 100%;
    background-color: #282c34;
    color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2rem;

}

.section {
    width: 16rem;
    min-height: 10rem;
    margin-top: 1rem;
    text-align: center;
}

.section-title {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 1.4rem;
}

.footer p:hover {
    color: #30c496;
}

.clickable {
    cursor: pointer;
}

.line {
    background-color: #30c496;
    height: 2px;
    width: 66%;
    margin: 0 auto;
}